@import url('reset.css');
@import url('syntax.css');
@import url('reveal.css');

/**
 * Main styles for reveal.js 
 *
 * @author Isak Wistrom
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
	overflow: hidden;
	font-family: 'Droid Sans', helvetica, arial, sans-serif;
	min-height: 600px;
    font-size: 28px;
    background: #2e3236;
	color: #aeb1b4;
    background: -moz-linear-gradient(top, #2d3236 0%, #1f2325 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d3236), color-stop(100%, #1f2325));
    background: -webkit-linear-gradient(top, #2d3236 0%, #1f2325 100%);
    background: -o-linear-gradient(top, #2d3236 0%, #1f2325 100%);
    background: -ms-linear-gradient(top, #2d3236 0%, #1f2325 100%);
    background: linear-gradient(to bottom, #2d3236 0%, #1f2325 100%);
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

/*********************************************
 * VIEW FRAGMENTS
 *********************************************/

.reveal .slides section .fragment {
	opacity: 0;

	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}

.reveal .slides section .fragment.visible {
    opacity: 1;
}

/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4 {
    font-weight: 700;
	color: #fdfefe;
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    margin-bottom: 20px;
}

.reveal h1 { font-size: 48px; }
.reveal h2 { font-size: 48px; }
.reveal h3 { font-size: 32px; }
.reveal h4 { font-size: 24px; }

.reveal h1.inverted,
.reveal h2.inverted,
.reveal h3.inverted,
.reveal h4.inverted {
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.reveal p {
	margin-bottom: 20px;
    line-height: 150%;
}

.reveal p.note {
    font-size: 18px;
}

.reveal strong, 
.reveal b {
	font-weight: bold;
}

.reveal li {
    margin-bottom: 15px;
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 5px auto;
	padding: 5px;
	
	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.reveal blockquote:before {
	content: '“';
}

.reveal blockquote:after {
	content: '”';
} 


.reveal small {
	font-size: 60%;
	line-height: 1em;
	vertical-align: top;
}

.reveal q {	
	font-style: italic;
}
.reveal q:before {
	content: '“';
}
.reveal q:after {
	content: '”';
}

.reveal a:not(.image) {
    font-family: "Droid Sans", helvetica, arial, sans-serif;
    color: #FF5943;
	text-decoration: underline;
    font-weight: 700;
}

.reveal h1 a:not(.image),
.reveal h2 a:not(.image) {
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	line-height: 1em;
    font-weight: 700;
}

.reveal pre,
.reveal code {
    background: #1b1d20;
}

.reveal pre {
    padding: 20px;
}

/*********************************************
 * VERTICAL NAVIGATION
 *********************************************/

.header,
.footer{
    font-size: 18px !important;
    padding: 0;
    height: 60px;
    width: 100%;
}

.footer{
    position: absolute;
    bottom: -80px;
    left: 0;
}

.header{
    display: block;
}

.header a,
.footer a{
    font-weight: bold;
}

.header span.down,
.footer span.down{
    margin: 0;
    padding: 0 0 30px 0;
    background: url(../images/arrow_down.png) no-repeat center bottom; 
}

.header span.up,
.footer span.up{
    display: block;
    margin: 0;
    padding: 25px 0 0 0;
    background: url(../images/arrow_up.png) no-repeat center top; 
}


/*********************************************
 * CONTROLS
 *********************************************/



.reveal .controls {
	display: none;
	position: fixed;
	width: 90px;
	height: 95px;
	right: 10px;
	bottom: 10px;
}
	
.reveal .controls a {
    text-decoration: none;
	font-size: 30px;
	position: absolute;
	opacity: 0.1;
	color: #fff;
}   

.reveal .controls a.enabled {
	opacity: 0.6;
    color: #fff;
    opacity: 0.5;
	text-shadow: 0px 0px 2px hsla(185, 45%, 70%, 0.3);
}

.reveal .controls a.enabled:active {
	margin-top: 1px;
}  

.reveal .controls .left {
	top: 30px;
}

.reveal .controls .right {
	left: 60px;
	top: 30px;
}

.reveal .controls .up {
	left: 30px;
}

.reveal .controls .down {
	left: 30px;
	top: 60px;
} 

/*********************************************
 * SECRET CODE
 *********************************************/

.reveal p.secret-code {
    display: block;
    font-size: 32px;
    line-height: 68px;
    height: 68px;
    width: 126px;
    margin: 30px auto;
    font-weight: 700;
    text-indent: -13px;
    background: url(../images/phone.png) no-repeat 0 top;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress span {
	background: #e63b3c;
} 
